.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

main,
footer,
.nav-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.nav {
  box-shadow: 0 2px 5px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all 0.2s ease-out);
    font-size: 2rem;
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: 0.2rem;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all 0.2s ease-out);
    color: $default-color;
    display: inline-block;
    padding: 0 1rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  a {
    @include transition(all 0.2s ease-out);
    color: $default-color;
    font-family: $sans-font;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

.bottom-right-float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#fff;
	color:#111;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 10px #aaa;
}

.top-left-float-1{
	position:fixed;
	width:40px;
	height:40px;
	top:80px;
	left:40px;
	background-color:#fff;
	color:#111;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 10px #aaa;
}

.top-left-float-2{
	position:fixed;
	width:40px;
	height:40px;
	top:125px;
	left:40px;
	background-color:#fff;
	color:#111;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 10px #aaa;
}

.my-float{
	margin-top:11px;
}

footer {
  font-family: $palatino;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: 0.8rem;
  }
}
