.tag-box {
  list-style: none;
  line-height: 2.3;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box a {
  color: $default-color;
  text-decoration: none;
  padding: 4px 6px;
  margin: 1px;
  background-color: $grey-2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tag-box-span {
  padding: 4px 6px;
  margin: 1px;
  background-color: $grey-2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

.tags-hr {
  opacity: 0.2;
  margin: 1rem;
}

@keyframes posts-for-tag-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.posts-for-tag {
  display: none;

  &:target {
    display: block;
    animation: posts-for-tag-fade-in 0.2s ease-in-out;
  }
}
