.text {

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
  }

  &-subtitle {
    color: $default-color;
    font-family: $sans-font;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }

  &-info {
    margin-bottom: 1rem;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  p {
    margin: 0 0 1rem;

    @media (min-width: 600px) {
      text-align: justify;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}
